body {
  margin: 0;
  overflow: hidden;
}

#container {
  position: relative;
  height: 100%;
}

#canvasWrapper {
  position: relative;
  height: 100%;
}

#canvas {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#header {
  width: 100%;
  padding-bottom: 10px;
}

#title {
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-size: 3rem;
  border: #008B8B;
  border-width: 0 0 5px 0;
  border-style: solid;
  padding-bottom: 2px;
  margin-bottom: 5px;
}